* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;

}

body {
    font-family: "Roboto", sans-serif;
}

.container {
    height: 100%;; 
    display: grid;
    grid-template-columns: 260px 1fr;
}

.sidebar {
    background-color: rgb(25, 146, 212);
    color: white;
    font-weight: 600;
    grid-column: 1/2;
    grid-row: 1/2;
    display: flex;
    flex-direction: column;
    text-transform: capitalize;
}

.sidebar .logo {
    display: flex;
    align-items: center;
    font-size: 28px;
    padding: 5px;
}

.logo img {
    width: 40px;
    height: 40px;
    margin-right: 8px;
}

.nav-items {
    height: 100%;
    display: grid;
    grid-template-rows: 1fr 2fr;
    padding: 20px;
}

.nav-items li {
    cursor: pointer;
    margin: 20px;
    font-size: 22px;
    list-style: none;
}

.nav-items li i {
    margin-right: 10px;
}

.nav.first-items {
    margin-bottom: 25px
}

.main {
    background-color: rgb(226, 232, 240);
    display: grid;
    grid-template-rows: auto 1fr;
}

.main .header {
    display: grid;
    grid-template-rows: auto auto;
    background-color: white;
    box-shadow: 4px 3px 11px 2px rgba(0, 0, 0, 0.2);
    padding: 15px 40px;
    ;
}

.main .header .head-nav {
    height: 2rem;
    display: grid;
    grid-auto-flow: column;
    align-items: center;
    grid-template-columns: 3fr 1fr
}

.header .head-nav input {
    width: 80%;
    height: 40px;
    border-radius: 24px;
    background-color: rgb(226, 232, 240);
    margin-left: 30px;
    border: none;
    outline: none;
    transition: all 1s ease;
}

.header .head-nav input:focus {
    outline: 1px solid black;
}

.header .head-nav i {
    font-size: 25px;
}

.header .head-nav div:nth-child(2) {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header .head-nav img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}

.header .head-nav span {
    font-size: 24px;
    font-weight: 700;
}

.head-user {
    font-weight: 700;
    padding: 20px 10px 5px 10px;
    margin: 10px 5px 0 5px;
}

.head-user .head-content {
    grid-column: 1/2;
    display: grid;
    align-items: center;
    grid-auto-flow: column;
    grid-template-columns: 3fr 1fr;
}

.head-user .head-content .user {
    display: flex;
    align-items: center;

}

.head-user .head-content .user img {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    object-fit: cover;
    margin-inline: 20px;
}

.head-user .head-content .user .text p:nth-child(2) {
    font-size: 24px;
}

.head-user .head-content .btns {
    width: 40%;
    display: flex;
    gap: 20px;
}

.head-user .head-content .btns button {
    background-color: rgb(25, 146, 212);
    color: white;
    border-radius: 24px;
    padding: 10px 25px;
    cursor: pointer;
    border: none;
}

.container .main .content {
    padding-top: 50px;
    display: grid;
    grid-row: 2/3;
    grid-template-columns: 3fr 1fr;
}

.main .content .page {
    display: grid;
    grid-column: 1/2;

}

.page .page-title {
    font-size: 24px;
    font-weight: bold;
    margin: 0 0 15px 0;
    color: #333;
}

.content .page .page-content {
    padding: 0 20px 0 20px;
}

.content .page .page-content h2 {
    margin-bottom: 10px;
}

.content .page .page-content .boxes-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    grid-auto-rows: minmax(250px, auto);;
    gap: 20px;

}

.page .page-content .box {
    background-color: white;
    padding: 30px;
    border-radius: 10px;
    border-left: 10px solid rgb(240, 180, 41);
    position: relative;
    box-shadow: 4px 3px 11px 2px rgba(0, 0, 0, 0.2);

}

.page .page-content .box .icons {
    position: absolute;
    bottom: 25px;
    right: 25px;
    display: flex;
    gap: 20px;
}

.page .page-content .box .icons img {
    width: 25px;
    height: 25px;
    cursor: pointer;
}

.page .page-content .box h1 {
    font-size: 20px;
}

.page .page-content .box p {
    color: rgba(0, 0, 0, 0.6);
}

.content .section .section-boxes {
    display: grid;
    grid-template-rows: 1fr 1fr;
}

.section .section-boxes .box1,
.box2 {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    background-color: white;
    padding: 20px;
    margin: 10px 25px 0 0;
    border-radius: 24px;
    box-shadow: 4px 3px 11px 2px rgba(0, 0, 0, 0.2);

}

.section-boxes h1 {
    font-size: 18px;
}

.section .section-boxes p {
    font-size: 14px;
    margin: 2px 0 15px 0;
    color: rgba(0, 0, 0, 0.6);

}

.section .section-boxes .box2-container {
    margin-top: 45px;
}

.section .section-boxes .box1 div {
    margin: 10px 0;
}

.section .section-boxes .box1 div:not(:last-child) {
    border-bottom: 1px solid rgb(226, 232, 240);

}

.section .section-boxes .box1 h2 {
    font-size: 16px;
}

.section .section-boxes .box2 div {
    display: flex;
    padding: 5px 5px;
}

.section .section-boxes .box2 .user-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    background-color: aqua;
    border-radius: 50%;
    margin-right: 15px;
}

.section .section-boxes .box2 .user-icon img {
    width: 85%;
    height: 85%;
    object-fit: cover;
}

.section .section-boxes .box2 .user-text h4 {
    font-weight: 500;
}

.section .section-boxes .box2 .user-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
}